

body {
	font-family: Arial;
	background: #C6FFAA;
	margin-top: 100px;
	margin-bottom: 150px;
	margin-right: 200px;
	margin-left: 200px;
}
div#header{
	background: #FFFFFF;
	margin-top: 100px;
	margin-bottom: 150px;
	margin-right: 50px;
	margin-left: 50px;
}

