

body {
	font-family: Arial;
	background: #C6FFAA;
	margin-top: 100px;
	margin-bottom: 150px;
	margin-right: 200px;
	margin-left: 200px;
	border-style: inset;
	border-color: #006B24;
}
div{
	background: #FFFFFF;
}

